.title {
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.field {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-right: 3rem;

}

.subject-info-container {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    text-align: start;
    padding: 0 10rem;
    margin-top: 10rem;
}

.languagesCB {
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    justify-items: center;
    margin-bottom: 2rem;
}


input[type=checkbox][checked][disabled] {
    outline: 0.2em solid #274C77;
}

textarea {
    width: 60%;
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    background-color: #E7ECEF;
    align-self: center;
}

a {
    align-self: center;
    margin-bottom: 3rem;
}

.acceptBtn {
    width: 261px;
    height: 105px;
    background: #A3CEF1;
    border-radius: 15px;
    font-family: 'Droid Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
    align-self: center;

}

.buttonAccept {
    align-self: center
}

.qualifying {
    margin-bottom: 2rem;
}

.qualifying-container {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    text-align: start;
    padding: 0 10rem;
    margin-bottom: 10rem;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: none;

    cursor: pointer;
}

.file-upload-container {
    border: 0.2rem dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 2rem;
    align-self: center;
}

.download-image {
    filter: invert(70%) sepia(90%) hue-rotate(190deg) saturate(300%);
    border-radius: 1rem;
    margin-top: 1rem;
    width: 15%;
    height: auto;
}
