@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

.contact__main-container{
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
	vertical-align: middle;
	margin-top:-10rem;
}

.contact__subtitle{
	font-size: 1.725rem;
	font-family: Droid Sans;
	font-style: normal;
	font-weight: 400;
}

.contact__column{
	float: left;
	width: 45%;
}

.contact__row{
	padding: 1rem 0px;	
	height: auto;
	width: 100%;
}

.contact__textbox{
	width: 99%;
	background: #E7ECEF;
	border-radius: .725rem;
	height: 4rem;
	border: 0;
	font-size: 2rem;
	padding-left: 1rem;
}

#contact__form{
	content: "";
}

#contact__form:after{
	content: "";
	display: table;
	clear: both;
}

#contact__columnPadding{
	padding-right: 9%;
}


#contact__SubmitBotton{
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact__botton{
	height: 5rem;
	width: 25%;
	background: #A3CEF1;
	border-radius: 1rem;
	font-size:2.5rem;
	margin-bottom: -10rem;
}