@import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700");

body {
    margin-top: 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.DegreeProfile__mainContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.DegreeProfile__universityDegree {
    display: flex;
    background: rgba(96, 150, 186, 0.5);
    font-family: 'Droid Sans', serif;
    text-align: center;
    justify-self: center;
    color: #FFFFFF;
    width: 50%;
    flex-direction: column;
}

.DegreeProfile__uniContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.DegreeProfile__universityName {
    font-weight: 400;
    font-size: 3.125em;
    letter-spacing: 0.02em;
    text-transform: capitalize
}

.DegreeProfile__degreeName {
    font-size: 1.88em;
    text-transform: capitalize
}

.DegreeProfile__localizacionFooter {
    margin-top: 18rem;
}

.DegreeProfile__year {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 3rem;
}

.DegreeProfile__headerYear {
    width: 100%;
    height: 3rem;
    background: #A3CEF1;
    border-radius: 1.25rem;
    border-bottom: 0.15rem solid black;
}

.DegreeProfile__text {
    justify-content: center;

    font-size: 2rem;
    text-align: center;
}

.DegreeProfile__semesters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.DegreeProfile__semester {
    font-family: 'Droid Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(231, 236, 239, 0.7);
    border-radius: 20px;
    width: 453px;
    height: 49px;
    justify-content: center;
    margin-bottom: 1rem;
    border-bottom: 0.15rem solid black;

}

.DegreeProfile__tableSemester {
    border-collapse: separate;
    border-spacing: 10rem 0;
}

.DegreeProfile__subjects {
    font-family: 'Droid Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25em;
    line-height: 2.625rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    height: 5rem;
    text-transform: capitalize;
}

.UniversityProfile__university-info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10rem;
}

.rTable { display: table; }
.rTableRow       { display: table-row; }
.rTableHeading    { display: table-header-group; }
.rTableBody    { display: table-row-group; }
.rTableFoot    { display: table-footer-group; }
.rTableCell, .rTableHead  { display: table-cell; }