@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');


.container {
    width: 100%;
    height: 100%;
    margin-top: -12rem;
}

.left {
    width: 40%;
    height: 100vh;
    background-color: #274C77;
    float: left;
    display: flex;
}

.title1 {
    margin-top: 10rem;
    font-size: 5em;
    font-family: 'Sanchez', serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: center;
}

.title2 {
    margin-top: 5rem;
    font-family: 'Droid Sans', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 3em;
    color: white;
    text-align: center;
    margin-right: 6rem;
    margin-left: 6rem;
}

.titlePage {
    font-size: 5em;
    font-family: 'Sanchez', serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 3rem;
    padding-top: 5rem;
}

.right {
    margin-left: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}


.contentRight {
    margin-left: 21%;
    margin-right: 18%;
    vertical-align: middle;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/******************************************************/
/* End of site structure, start of login form styling */
/******************************************************/


.login {
    width: 100%;
    vertical-align: middle;
    text-align: center;    
}

.login__field {
    padding: 3rem 0px;
    position: relative;
    background-color: #6096BA;
    height: 3.125rem;
}

#top {
    padding: 2rem 0px 0px;
}

#down {
    padding-top: 2rem;
    padding-right: 0px;
    padding-bottom: 1.5rem;
    padding-left: 0px;
}

button {
    background-color: white;
    margin-top: 2rem;
}

.login__icon {
    position: absolute;
    top: 2.9rem;
    color: #fff;
}

.login__input {
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
    width: 75%;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    color: white;
    line-height: 2.5rem;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #fff;
}

.login__submit {
    padding: 0.625rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;
    align-items: center;
    width: 6rem;
    height: 2.5rem;
    color: black;
    background: #A3CEF1;
    box-shadow: 0 0.125rem 0.125rem #274C77;
    cursor: pointer;
    transition: .2s;
    white-space: normal !important;
    font-family: 'Droid Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 69%;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #274C77;
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
    font-family: Droid Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.625rem;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.625rem;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.625rem;
}


.textQuestionSignUp {
    margin-top: 3rem;
    font-family: 'Droid Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    justify-content: center;
}

#buttonSignUp{
    width: 8rem;
    margin-top: 1rem;
}
