form{
    padding:15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lineContent{
    display: flex;
}

.localizacionFooter{
    margin-top: -5rem;
}


.inputShortText{
    background-color: #E7ECEF;
    height: 3em;
    margin-bottom:1.5em;
    border:none;
    border-radius: 0.63em;
    font-family: 'Droid Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


.buttonAccept{
    align-self:center
}

.acceptBtn{
    width: 261px;
    height: 105px;
    background: #A3CEF1;
    border-radius: 15px;
    font-family: 'Droid Sans',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
    align-self: center;

}